<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/solarized-dark.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js"></script>

<script>
var PROJECT_ID = "<%= @project.hashid.to_s %>";

function renderLastUpdateTime(id, date) {
  var $it = $("#" + id);
  $it.attr("datetime", date.toISOString());
  $it.timeago("updateFromDOM");
}

$(document).ready(function() {
  $dir = $("#dir");
  $fileContainer = $("#file");
  fileLabel = document.getElementById("fileLabel");

  $("time.timeago").each(function(i, it) {
    $(it).timeago();
  });

  renderLastUpdateTime("projectUpdateTime", new Date(<%= @project.updated_at.to_i * 1000 %>));
  listFiles(<% if @file then %>"<%= @file %>"<% end %>);
});

App.cable.subscriptions.create({channel: "ProjectsChannel", id: PROJECT_ID}, {
  received: function(msg) {
    console.debug("received message");
    console.debug(msg);

    renderLastUpdateTime("projectUpdateTime", new Date());
    if ((msg.method == "created" || msg.method == "modified")&& fileEquals(currentFile, msg)) {
      showFileVersionNotification(true);
    }

    if (msg.method != "modified") {
      showDirUpdatedNotification(true);
    }
  }
});
</script>

<% if @key %>
  <%= render partial: "edit", locals: {key: @key, project: @project} %>
<% end %>

<div class="row file-control" style="display: flex">
  <div class="col-xs-6 col-sm-4 align-content-bottom">
    <h5>
      <span class="text-muted" style="margin-right: 0.5em"><%= @project.title %></span>
      <span id="fileLabel"></span>
    </h5>
  </div>

  <div class="col-xs-6 col-sm-8 text-right align-content-bottom" style="justify-content: flex-end; padding-bottom: 8px;">
    <div>
      <span class="text-muted"><small>
        updated <time class="timeago" id="fileUpdateTime">some time ago</time>
      </small></span>
      <span class="show-on-new-file-version hidden text-warning">
        new version exists
      </span>
      <a id="refreshFileButton" class="glyphicon glyphicon-refresh file-button clickable" onclick="openFile()"></a>
      <a href="#dir" class="glyphicon glyphicon-list file-button" data-turbolinks="false"></a>
    </div>
  </div>
</div>

<div id="file" class="file-control with-loading-anim">
  <div class="loading-anim">
    <%= image_tag "spinner.svg" %>
  </div>

  <pre class="contents">
  </pre>
</div>

<div>
  <div class="pull-right">
    <span class="text-muted"><small>
      updated
      <time class="timeago" id="projectUpdateTime">some time ago</time>
    </small></span>

    <span class="show-on-dir-update hidden text-warning">
      new version exists
    </span>
    <a id="refreshDirButton" class="glyphicon glyphicon-refresh file-button clickable" onclick="listFiles()"></a>
  </div>

  <h4>
    <small><%= @project.title %></small>
  </h4>
</div>

<div id="dir" class="list-group with-loading-anim">
  <a class="hidden" name="dir"></a>

  <div class="loading-anim">
    <%= image_tag "spinner.svg" %>
  </div>

  <div class="contents">
  </div>
</div>
